<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Tambah Merk</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">

    <div class="form-floating mb-2">
      <input #namenya type="text" class="form-control" (focus)="true" placeholder="" [(ngModel)]="merkRequest.merk">
      <label for="floatingInputValue">Merk</label>
    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); onCreate()">Save</button>
	</div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">Tambah</button>
