

.card-px {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
}

.py-20 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.my-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}


.text-gray-500 {
    color: #99A1B7 !important
}

.fw-semibold {
    font-weight: 500 !important;
}

.fs-4 {
    font-size: 1.25rem !important;
}

.mb-10 {
    margin-bottom: 2.5rem !important;
}

.mh-70px {
    max-height: 70px !important;
}

.mw-100 {
    max-width: 100% !important;
}
