<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<!-- <div class="modal-body"> -->
    <!-- <p><a href="{{linknya}}">{{linknya}}</a></p> -->

    <!-- <div class="form-group">
      <label for="" class="mt-1">Merk Mobil</label>
      <select class="form-select" aria-label="Default select example">
        <option selected hidden>Pilih Merk Mobil</option>
        <ng-container *ngFor="let car of cars.data.content">
        
          <option value="{{ car.carID }}">{{ car.merkID.merk }} {{ car.tipe}}</option>
        </ng-container>
      </select>
    </div> -->
    <!-- <div class="form-group"> -->
      <!-- <label for="" class="mt-1">QR Code</label> -->
      <!-- <ng-select [items]="cars.data.content"
                bindLabel="customLabel"
                [(ngModel)]="selectedCar"
                placeholder="Pilih Merk Mobil">
        <ng-template ng-option-tmp let-car="item">
          {{ car.tipe }} - {{ car.merkID.merk }}
        </ng-template>
      </ng-select> -->

      <!-- <ng-select
        [items]="cars.data.content"
        bindValue="carID"
        [(ngModel)]="selectedCar"
        autofocus
      >
        <ng-template ng-label-tmp let-item="item">
          {{ item.tipe }} - {{ item.merkID?.merk }}
        </ng-template>
      </ng-select> -->
    <!-- </div> -->
    <!-- <div class="col-md-12">
      <div class="row">
        
      </div>
    </div> -->
	<!-- </div> -->

    <div class="modal-body">
      <p><img src="{{qrnya}}" alt=""></p>
			<button ngxClipboard [cbContent]="linknya" class="btn btn-primary">Klik untuk copy link</button>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
		</div>

</ng-template>

<button class="btn btn-info btn-sm" (click)="open(content)">Lihat QR</button>
