<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-between">
      <h4>Daftar Mobil</h4>
    </div>
    <div class="col-md-12">
      <div class="d-flex justify-content-end gap-3">
        <!-- <form class="bd-search position-relative me-auto"> -->
          <input type="search" class="form-control"  [(ngModel)]="search" name="search" 
          (keyup.enter)="onList(0)" id="search-input" placeholder="Cari..."  autocomplete="off" (ngModelChange)="onSearchChange()">
        <!-- </form> -->
        <app-car-create (onSuccess)="onSuccessCreateCar($event)"></app-car-create>
        <!-- <select class="form-control-sm" name="limit" >
          <option value="1">1 Item</option>
          <option value="5">5 Items</option>
          <option value="10">10 Items</option>
          <option value="20">20 Items</option>
        </select> -->
        
        <button  class="btn btn-primary" (click)="onList(0)">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <table class="table table-bordered table-hover table-stripped" *ngIf="!errorNotFound">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Mobil</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars.data.content;let i=index">
            <td>{{ i + 1}}</td>
            <td><span style="color:rgb(30, 84, 185)">{{car.merkID.dealerCode}}</span> - {{car.merkID.merk}} {{car.tipe}} </td>
            <td>
              <!-- <app-merk-details [id]="merk.merkID" (onSuccess)="onSuccessEditMerk($event)"></app-merk-details> -->
              <button class="btn btn-sm btn-danger ms-1" (click)="doHapus(car.merkID.merk, car.tipe, car.carID)">Hapus</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <app-paging 
                [totalItems]="cars.data.totalItems" 
                [totalPages]="cars.data.totalPages"
                [nowPage]="this.nowPage"
                (onPaginate)="onPaginate($event)"
              ></app-paging>
            </td>
          </tr>
        </tfoot>
      </table>
      <table class="table table-bordered table-hover table-stripped" *ngIf="errorNotFound">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Nama</th>
            <th>Mobil</th>
            <th>Status Antrian</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5" class="text-center">
              Data Tidak Ditemukan
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

